<div class="row">
	<div class="homenav">
		<img class="logo" src="Logo.png">
	</div>
</div>

<div class="row">
	<div class="col-xs-6">
		<div>
			Welcome to Guest Scan! 
		</div>
	</div>

	<div class="col-xs-6">
		<div class="signin">
			<h1 class="home-titles"> 
				Sign In
			</h1>

			<form class="submit signin-inputfields">
				<div class="signin-input">
					<input ng-model="username" placeholder="Username:">
				</div>
				
				<div class="signin-input">
					<input ng-model="password" placeholder="Password:">
				</div>
				
				<div class="signin-input">
					<button ng-click="signin()" class="usertypebtn"> Sign in! </button>
				</div>	

				<div>
					<p>
						Don't have an account? Sign up <a href="#/signup">here.</a>
					</p>
				</div>
			</form>
			
		</div>
	</div>
</div>
