
<div class="col-xs-12">
	<div class="signup">
		<h1 class="home-titles">
			Sign Up
		</h1>
		<div>
			Who are you? 
		</div>

		<div>
			<a href="#/bmprofile">
				<button class="usertypebtn">
					 Building Manager 
				</button>
			</a>
		</div>

		<div>
			<a href="#/tenantprofile">
				<button class="usertypebtn">
					 Tenant 
				</button>
			</a>
		</div>

		<div>
			<a href="#/securityprofile">
				<button class="usertypebtn">
					 Security 
				</button>
			</a>
		</div>

		<div>
			<a href="#/visitorprofile">
				<button class="usertypebtn">
					 Visitor 
				</button>
			</a>
		</div>
		
	</div>
</div>